@import "~@blueprintjs/core/lib/scss/variables";
@import "../../assets/variables";


#poke-details {
  min-height: 100vh;
  overflow-y: auto;
}


#poke-details article.cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  width: 100%;
  height: $poke-details-cover-height;
  overflow: hidden;

  aside.cover-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: $poke-details-cover-height;
  }

  aside.dex-id {
    position: absolute;
    top: 0;
    left: $pt-grid-size;
  }

  img.blur-photo {
    width: 100%;
    height: $poke-details-cover-height;
    filter: blur( $poke-details-blur-photo-amt ) brightness( $poke-details-blur-photo-brightness );
    object-fit: fill;
    transform: scale( $poke-details-blur-photo-scale );
  }

  img.cover-photo {
    width: auto;
    height: $poke-details-cover-photo-height;
  }
}


#poke-details article.move-types-grid > aside {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  div {
    flex-basis: calc( 100% / 2 ); // set size inside parent flex box

    display: flex;
    height: $poke-details-move-grid-item-height;
  }

  div > p {
    flex-basis: 50%;
    margin-bottom: 0;
    text-align: center;
    line-height: $poke-details-move-grid-item-height;
  }
}


#poke-details article.evolution-grid > aside {
  display: flex;
  align-items: stretch;
  justify-content: center;

  div {
    flex-basis: 33%; // set size inside parent flex box

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  div[role=button] {
    cursor: pointer;
  }

  div > img {
    height: $poke-details-evolution-sprite-height;
    object-fit: contain;
  }
}


#poke-details article.moveset {
  .bp4-tab-list {
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 10px;
  }

  .bp4-tab {
    text-transform: capitalize;
  }

  .bp4-tab:focus {
    outline: none;
  }

  .bp4-tab-panel {
    margin-top: 0;
  }

  table {
    width: 100%;
  }

  tr > td {
    vertical-align: middle;
  }

  tr > td:last-child {
    text-align: center;
  }

  td > p {
    margin-bottom: 0;
  }

  td > p:last-child > * {
    flex-basis: 50%;
  }
}


/**
 * MOBILE STYLES
 *
 * @note: cannot use css variables as media query values :(
**/

@media only screen and (max-width: $screen-size-desktop) {
  #poke-details article.cover {
    aside.cover-photo-container {
      top: $pt-navbar-height;
      height: $poke-details-cover-height - $pt-navbar-height;
    }

    aside.dex-id {
      top: $pt-navbar-height + $pt-grid-size;
    }
  }
}
